<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <meta charset="UTF-8">
  <title>受講生一覧</title>
</head>
<body>
<h1>受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>都道府県</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail:${studentList}">
    <td th:text="${studentDetail.student.studentId}">1</td>
    <td>
      <a href="/studentList" th:href="@{/student/{studentId}(studentId=${studentDetail.student.studentId})}" th:text="${studentDetail.student.fullName}">新庄 剛志</a>
    </td>
    <td th:text="${studentDetail.student.furigana}">しんじょう つよし</td>
    <td th:text="${studentDetail.student.nickname}">BIGBOSS</td>
    <td th:text="${studentDetail.student.email}">fansareourtreasure@fighters.com</td>
    <td th:text="${studentDetail.student.prefecture}">北海道</td>
    <td th:text="${studentDetail.student.age}">52</td>
    <td th:text="${studentDetail.student.gender}">男</td>
    <td th:text="${studentDetail.student.remark}">null</td>
  </tr>

  </tbody>
</table>

</body>
</html>